<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="header" >
<!-- START HEADER -->
<header id="header">
    <div class="row">
        <div class="col-sm-4 col-xl-2 header-left">
            <div class="logo float-xs-left">
                <a href="#">
                    <!--<img src="/assets/global/image/web-logo.png" alt="logo">-->
                    Y
                </a>
            </div>
            <button class="left-menu-toggle flat-buttons float-xs-right">
                <i class="icon_menu toggle-icon"></i>
            </button>
            <button class="right-menu-toggle flat-buttons float-xs-right">
                <i class="arrow_carrot-left toggle-icon"></i>
            </button>
        </div>

        <div class="col-sm-8 col-xl-10 header-right">
            <div class="header-inner-right">
                <div class="float-default searchbox">
                    <div class="right-icon">
                        <a href="javascript:void(0)">
                            <i class="icon_search"></i>
                        </a>
                    </div>
                </div>
                <div class="float-default mail">
                    <div class="right-icon">
                        <a href="javascript:void(0)" data-toggle="dropdown" data-open="true" aria-expanded="true">
                            <i class="icon_mail_alt"></i>
                            <span class="mail-no">0</span>
                        </a>
                        <div class="dropdown-menu messagetoggle" role="menu">
                            <div class="nav-tab-horizontal">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link flat-buttons active" data-toggle="tab" href="#messages"
                                           role="tab">Message</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link flat-buttons" data-toggle="tab" href="#resendmessage"
                                           role="tab">Resend</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="messages" role="tabpanel" data-plugin="custom-scroll" data-height="320">
                                    <ul class="userMessagedrop">

                                    </ul>
                                </div>
                                <div class="tab-pane" id="resendmessage" role="tabpanel" data-plugin="custom-scroll" data-height="320">
                                    <ul class="userMessagedrop">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-default chat">
                    <div class="right-icon">
                        <a href="javascript:void(0)" data-toggle="dropdown" data-open="true" data-animation="slideOutUp"
                           aria-expanded="false">
                            <i class="icon_chat_alt"></i>
                            <span class="mail-no">0</span>
                        </a>
                        <ul class="dropdown-menu userChat" data-plugin="custom-scroll" data-height="310">

                        </ul>
                    </div>
                </div>
                <!--<div class="float-default chat">-->
                    <!--<div class="right-icon">-->
                        <!--<a href="#" data-plugin="fullscreen">-->
                            <!--<i class="arrow_expand"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="user-dropdown">
                    <div class="btn-group">
                        <a href="#" class="user-header dropdown-toggle" data-toggle="dropdown"
                           data-animation="slideOutUp" aria-haspopup="true"
                           aria-expanded="false">
                            <img src="/assets/global/image/img_128x128.png" alt="Profile image"/>
                        </a>
                        <div class="dropdown-menu drop-profile">
                            <div class="userProfile">
                                <img src="/assets/global/image/img_128x128.png" alt="Profile image"/>
                                <h5 th:text="${#authentication.name}"></h5>
                                <p>milerhussey@yahoo.com</p>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="btn left-spacing link-btn flat-buttons" href="#" role="button">Link</a>
                            <a class="btn left-second-spacing link-btn flat-buttons" href="#" role="button">Link 2</a>
                            <a class="btn btn-primary float-xs-right right-spacing flat-buttons" href="#" role="button">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="search-overlay">
    <div class="float-default search">
        <div class="search_bg"></div>
        <div class="right-icon search_box">
            <div class="search-div">
                <input type="text" class="search_input">
                <label class="search-input-label">
                    <span class="input-label-title">Search</span>
                </label>
            </div>
            <div class="divider50"></div>
            <div class="search-result">
                <div class="search-item">
                    <div class="search-image float-xs-left">
                        <img src="/assets/global/image/img_640x450.png" alt="search-image">
                    </div>
                    <div class="search-info float-xs-right">
                        <h3 class="title">Search here</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus diam quis arcu lobortis sagittis. Etiam eu ornare mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                </div>
                <div class="divider15"></div>
                <div class="search-item">
                    <div class="search-info search-full float-xs-right">
                        <h3 class="title">Admin templates</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus diam quis arcu lobortis sagittis. Etiam eu ornare mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                </div>
                <div class="divider15"></div>
                <div class="search-item">
                    <div class="search-image float-xs-left">
                        <img src="/assets/global/image/img_640x450.png" alt="search-image">
                    </div>
                    <div class="search-info float-xs-right">
                        <h3 class="title">Books</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus diam quis arcu lobortis sagittis. Etiam eu ornare mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="search_close icon_close"></div>
    </div>
</div>
<!-- END HEADER -->
</body>
</html>