<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="navigation">
<!-- START NAVIGATION -->
<aside id="sidebar">
    <div class="sidebar-search">
        <input id="live-search-box" type="search" class="form-control input-sm" placeholder="Search...">
        <a href="javascript:void(0)"><i class="search-close icon_search"></i></a>
    </div>
    <div class="sidebar-menu">
        <ul class="nav site-menu live-search-list" id="site-menu" data-plugin="custom-scroll" data-suppress-scroll-x="true" data-height="100%">
            <li class="menu-title"><i class="icon_compass_alt"></i><span>Main Menu</span>
                <ul class="main-menu">
                    <li class="sub-item">
                        <a href="javascript:void(0)" class="flat-buttons">
                            <span>Dashboard</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="sidebar-extra">
        <a href="javascript:void(0);" class="flat-buttons"><i class="icon_lock-open_alt"></i></a>
        <a href="javascript:void(0);" class="flat-buttons"><i class="icon_key_alt"></i></a>
        <a href="javascript:void(0);" class="flat-buttons"><i class="icon_lock_alt"></i></a>
    </div>
</aside>
<!-- END NAVIGATION -->
</body>
</html>