<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="corejs">
    <!-- START CORE JAVASCRIPT -->
    <script type="text/javascript" src="/assets/global/plugins/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/tether/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/switchery/dist/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/screenfull.js/dist/screenfull.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/Waves/dist/waves.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/classie/classie.js"></script>
    <!-- END CORE JAVASCRIPT -->
</div>

</body>
</html>